@{
}
<link rel="stylesheet" href="~/css/news.css" />

<!--
    todo: determine layout of User Profile
    todo: create a User Dashboard where users can select options to view/change their profiles/other information
-->

<div>
    <div class="blocks">

        <div class="leftBlock" id="test1">
            <p>This section should be placed on the left-hand side of the page.</p>
        </div>

        <div class="centerBlock" id="test1">
            <p>This section should be between the left and right blocks and below the top block.</p>
        </div>

        <div class="rightBlock" id="test1">
            <p>This section should be placed on the right-hand side of the page.</p>
        </div>

    </div>
</div>