@{
    News news = Model.NewsDetail;
}
<h1>Delete News Article</h1>
<h2>Are you sure you wish to delete this article? Once done, this action cannot be undone.</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" name="Id" value="@news.ArticleId"/>
    <input type="hidden" name="confirmedDeletion" value="true"/>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-area="" asp-controller="News" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>