<h1>Delete News Article</h1>
<h2>Are you sure you wish to delete this article? Once done, this action cannot be undone.</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" name="UserID" />

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="button" class="btn btn-secondary" value="Cancel" onclick="history.back()" />
</form>