@{
    List<News> news = Model.News;
}

><a asp-controller="News" asp-action="Edit" class="btn btn-primary">Add New Article</a>

<section class="recentNews">
    <div class="container">
        <h2 class="news-title">Recent News</h2>
        <div class="row">
            @for (int i = 0; i < news.Count; i++)
            {
                <div class=" = ct-blog col-sm-6 col-md-4">
                    <a asp-controller="News" asp-action="Article" asp-route-id="@news[i].ArticleId">
                        <div class="inner">
                            <div class="fauxcrop">
                                <img alt="News Entry" src="~/images/Project_Code-X_Logo.jpg" class="img-fluid card-img" />
                            </div>
                            <div class="ct-blog-content">
                                <div class="ct-blog-date">
                                    @news[i].PublishDate.ToShortDateString();
                                </div>
                                <h3 class="ct-blog-header">
                                    @news[i].Headline
                                </h3>
                            </div>
                            <p class="text-center">@news[i].Summary</p>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="btn-news btn-contests">
            <a href="#">VIEW ALL NEWS</a>
        </div>
    </div>
</section>