<!--Update News Table on Database-->

<div class="news-Form">
    <form id="newsForm">
        <label for="headline">Headline: </label><br />
        <input type="text" id="headline" name="headline" required />

        <label for="content">Article content: </label><br />
        <textarea rows="4" cols="50" id="content" name="content" form="newsForm" placeholder="Insert article content here" required></textarea>

        <label for="newsImage">Image: </label><br />
        <input type="image" id="newsImage" name="newsImage" />

        <label for="author">Author: </label><br />
        <input type="text" id="author" name="author" required placeholder="Please insert your first and last name. Ex: John Doe" />

        <input type="hidden" id="articleID" name="articleID" value="0" />
        <input type="hidden" id="viewCount" name="viewCount" value="0" />
    </form>
</div>