<h1 class="text-center">About Us</h1>
<div>
    <h2>Our Goal</h2>
    <p>Here at Bookwormz, our goal is simple. We seek to ensure that children of all ages and backgrounds are given access to a diverse selection of books. Studies show that children who begin reading early on in life grow to be more successful as adults. Books are a wonderful way for children to learn about the world around them, about the world that came before them, and about the world that could be. Plus, they're a fun way to pass the time and all you need to enjoy a book is the book itself. No batteries that need charging, no special devices to make them run, all you have to do is turn the page!
</p>
</div>

<div>
    <h2>What We Do</h2>
    <p>As part of our mission, we work with publishing companies to host book fairs at local schools, where the hottest and latest titles are sold at discounted prices directly to the children. We do this to combat the problem of bookstores being located away from where the children live. In addition, we also send books donated to us off to different libraries to help replace missing, stolen, and/or destroyed stock. We also sponsor reading programs which encourage children to read by offering rewards for reading a number of different books.
    </p>
</div>

<div>
    <h2>Disclaimer</h2>
    <p>
        This website was created as part of a school project for Greenville Technical College's Programming Senior Project. This website is purely to demonstrate the technical proficiency of its developers and is not intended to be used an actual website. Please do not enter any sensitive information anywhere on the site.
        
        All representations of people and organizations on this website are purely fictional, and any resemblence to real-life figures is purely coincidental. This site is not endorsed by any organization or public figure.
    </p>

    <h2>Attributions</h2>
    <p>
        Event calendar created using <a href="https://fullcalendar.io/">FullCalendar.</a><br />

        User management handled by <a href="https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-7.0&tabs=visual-studio">ASP.NET Core Identity.</a><br />

        Document/PDF Generation by <a href="https://www.questpdf.com/">QuestPDF.</a><br />

        Email services provided by <a href="https://sendgrid.com/">SendGrid.</a><br />

        Deployment services by <a href="https://github.com/marketplace/actions/azure-login">https://github.com/marketplace/actions/azure-login</a><br />
    </p>
</div>