@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center">About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tortor semper, tempus ante eu, lobortis tellus. Aliquam commodo diam sed ipsum interdum hendrerit. Nullam condimentum interdum consequat. Nullam placerat felis neque, nec vestibulum sem ullamcorper a. Proin dapibus mattis tortor a pretium. In ac vestibulum orci. Suspendisse consectetur dui a libero commodo egestas. Aliquam erat volutpat. In tempor neque a nulla faucibus, sed tristique odio luctus. Nulla ut varius neque. Aenean sed egestas sapien, nec imperdiet tortor. Nulla semper hendrerit molestie. Sed eget leo nec est feugiat consequat eu vel justo.</p>