@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true"/>

<!--
    todo: create homepage that looks attractive
-->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/girlreading.jpg" class="d-block w-100" alt="A girl reading a book in front of a window">
            <div class="carousel-caption d-none d-md-block">
                <h5>Reading is Fun!</h5>
                <p>There's nothing like a good book to keep you entertained when you're bored!</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/images/boyreading.jpg" class="d-block w-100" alt="A boy reading a book while sitting outside">
            <div class="carousel-caption d-none d-md-block">
                <h5>Good for Indoors or Outdoors</h5>
                <p>The best part about books? You don't need anything except the book itself to enjoy it, no matter where you are!</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/images/kidsreadingtogether.jpg" class="d-block w-100" alt="Two kids reading a book together">
            <div class="carousel-caption d-none d-md-block">
                <h5>Quality Time Together</h5>
                <p>Reading is a great way to spend time with those you care about!</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/images/kidsreadingtogether.jpg" class="d-block w-100" alt="A family sitting down and reading at a library">
            <div class="carousel-caption d-none d-md-block">
                <h5>At the Library</h5>
                <p>The best part about books? You can easily find your favorites at your local library!</p>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>