@{
    ViewData["Title"] = "Home Page";
}

<!--
    todo: create homepage that looks attractive
-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page is a temporary placeholder for the Project Code_X Senior Project.</p>
    <table>
        <tr>
            <th>UserID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Click here to go to Admin Area</a>
</div>
