<link rel="stylesheet" href="~/css/news.css" />

<section class="recentNews">
    <div class="container">
        <h2 class="news-title">Recent News</h2>
        <div class="row">
            @for (int i = 0; i < 6; i++){
            <div class=" = ct-blog col-sm-6 col-md-4">
                <div class="inner">
                    <div class="fauxcrop">
						<a asp-area="" asp-controller="News" asp-action="Article"><img alt="News Entry" src="~/images/pngegg.png"                           class="img-fluid card-img" /></a>
                    </div>
                    <div class="ct-blog-content">
                        <div class="ct-blog-date">
                            <span>October</span><strong>12</strong>
                        </div>
                        <h3 class="ct-blog-header">
                            Article Headline Here
                        </h3>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="btn-news btn-contests">
            <a href="#">VIEW ALL NEWS</a>
        </div>
    </div>
</section>