<!--
    TODO: Connect page to Users and Donations tables to allow users to see their past donations.
    TODO: Add total field to allow users to see total amount they have contributed
    TODO: Allow due-paying members to see total dues they have paid, view current amount owed
-->

<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date & Time</th>
            <th>Method</th>
            <th>User Comment</th> <!--User Comment area is used to show any comments user may have made when making a donation-->
        </tr>
    </thead>
</table>
<p>Dates and times are displayed in the following format: DD/MM/YYYY HH:MM. All Times are in Eastern Daylight Time, UTC-4</p>
<p>To dispute any transactions linked to your account, please call (XXX)XXX-XXXX.</p>