@{
    List<Donation> donations = new();
    if (Model.Donations is not null && Model.Donations.Count > 0)
    {
        donations = Model.Donations;
    }
}

<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date & Time</th>
            <th>Method</th>
            <th>User Comment</th> <!--User Comment area is used to show any comments user may have made when making a donation-->
        </tr>
    </thead>
    <tbody>
        
        @foreach (var d in donations)
        {
            <tr>
            <td>@d.Amount</td>
            <td>@d.DonationDate</td> 
            <td>Credit Card</td>
            <td>@d.Notes</td> 
            </tr>
        }
        
    </tbody>
</table>
<p>Dates and times are displayed in the following format: DD/MM/YYYY HH:MM. All Times are in Eastern Daylight Time, UTC-4</p>
<p>To dispute any transactions linked to your account, please call (XXX)XXX-XXXX.</p>