@{
    List<User> users = Model.Users;
}

<input type="text" placeholder="Search for user by ID, name, or email: " />

<!--
    TODO: Add logic to display search results
    TODO: By default, display all users ordered by UserID, 20 results per page.
-->

<table>
    <thead>
        <tr>
            <th>UserID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var u in users)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Lname</td>
                <td>@u.Fname</td>
                <td>@u.Email</td>
            </tr>
        }
        </tbody>
        
</table>