
@{
}

<!--
    TODO: add a for loop to run which populates table with user data
    TODO: add option to search tables for specific users
    TODO: add options to add/edit/remove users
-->

<table>
    <tr>
        <th>UserID</th>
        <th>User Name</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>