<!DOCTYPE html>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    User user = await UserManager.GetUserAsync(User);
    string firstName;
    if (user == null)
    {
        firstName = "User";
    }
    else
    {
        if (user.Fname == null)
        {
            firstName = "User";
        }

        else
        {
            firstName = user.Fname;
        }
    }
}

<!--
    TODO: Add hamburger menu to allow users to view links to different admin pages they can access
    TODO: Style hamburger menu so that button does not shift when opening
-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectCodeX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectCodeX.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Project_Code-X_Logo.jpg" class="logo" /></a>
        <div class="topnav" id="myTopnav">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <div class="adminMenu">
                            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                            <a href="javascript:void(0);" onclick="displayAdminLinks()">
                                Admin Controls &emsp;
                            </a>
                            <br>
                        </div>
                    }
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="login">Logout @firstName</a>

                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login" class="login">Register/Login</a>
                }
            }
            <div class="mainLinks">
                <a asp-area="" asp-controller="Event" asp-action="Index">Events</a>
                <a asp-area="" asp-controller="News" asp-action="Index">News</a>
                <a asp-area="" asp-controller="User" asp-action="Index">My Profile</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="adminLinks">
            <a asp-controller="Event" asp-action="Index">Event Management</a><br>
            <a asp-controller="News" asp-action="Index">News Management</a><br>
            <a asp-controller="Funds" asp-action="Index">Fund Management</a><br>
            <a asp-controller="Group" asp-action="Index">Group Management</a><br>
            <a asp-controller="UserData" asp-action="Index">User Management</a><br>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 align-content-center">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProjectCodeX - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
