<!--
    TODO: Add functionality to allow user to download a copy of database data to their local machine.
    TODO: Make sure this is secure. It doesn't need to be uncrackable since this is a school project, but we should put in some sort of effort

-->

Click the button to download a copy of the database.
<button type="button" class="btn btn-primary">Download Database</button>