@{
    ViewData["Title"] = "Home Page";
}

<!--
    TODO: Ensure Admin home provides links to places that user currently has access to.
    TODO: Pretty this page up
-->

<div>
    <a asp-area="Admin" asp-controller="UserData" asp-action="Index" class="btn btn-primary">User Management</a>
    <br />
    <br />
    <a asp-area="Admin" asp-controller="Event" asp-action="Index" class="btn btn-primary">Event Management</a>
    <br />
    <br />
    <a asp-area="Admin" asp-controller="News" asp-action="Index" class="btn btn-primary">News Management</a>
    <br />
    <br />
    <a asp-area="Admin" asp-controller="Group" asp-action="Index" class="btn btn-primary">Group/Committee Management</a>
    <br />
    <br />
    <a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="text-white">Contact Management</a>
    <br />
    <br />
    <a asp-area="Admin" asp-controller="Home" asp-action="Reports" class="btn btn-primary">Administrative Reports</a>
</div>