<!--
    TODO: Determine what data would be most commonly requested, ensure page is designed to provide reports based on requested data
-->
<a  asp-action="MemberList">Member List</a>
<a asp-action="DonorList">Donor List</a>
<a asp-action="EventCalendar">Event Calendar</a>
<a asp-action="ContactList">Contact List</a>