<a asp-action="MemberList" class="btn btn-primary">Member List</a>
<br />
<br />
<a asp-action="DonorList" class="btn btn-primary">Donor List</a>
<br />
<br />
<a asp-action="EventCalendar" class="btn btn-primary">Event Calendar</a>
<br />
<br />
<a asp-action="ContactList" class="btn btn-primary">Contact List</a>