div:not(.container-fluid) div {
   float: left;
   padding: 15px;
   margin: auto;
}

div#test1 {
    border-width: 2.5px;
    border-style: solid;
}

div.leftBlock {
    border-color: green;
    width: 25%;
}

div.centerBlock {
    border-color: blueviolet;
    width: 50%;
}

div.rightBlock {
    border-color: red;
    width: 25%;
}